# Nextflow
work/
.nextflow*
results/
test_results/
.DS_Store
*.log
nxf-tmp.*

# nf-test
.nf-test/
.nf-test.log
nf-test-output.log
*.nf.test.snap

# Python
__pycache__/
*.py[cod]
*$py.class

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
