// Custom configuration for UMass HPC cluster with SLURM scheduler
// Usage: nextflow run main.nf -c custom.config --input runs.csv

cleanup = true

env {
  APPTAINERENV_TMPDIR = '/projects/academic/gbcstaff/utils/singularity-temp/'
  TMPDIR = '/projects/academic/gbcstaff/utils/singularity-temp/'
  NXF_SINGULARITY_CACHEDIR = '/projects/academic/gbcstaff/utils/singularity/'  
}

singularity {
  autoMounts = true
  cacheDir = '/projects/academic/gbcstaff/utils/singularity/'
  runOptions = '-B /projects/academic/gbcstaff/utils/singularity-temp/'
  pullTimeout = '2 hours'
}

executor {
    name = "slurm"
    queueSize = 2000
    submitRateLimit = "10/1sec"
    exitReadTimeout = "1000 min"
    jobName = {
        task.name // [] and " " not allowed in SLURM job names
            .replace("[", "(")
            .replace("]", ")")
            .replace(" ", "_")
    }
}

process {
    clusterOptions = '--clusters faculty --partition gbc --qos gbc --account gbcstaff'
    maxRetries     = 10
}
