/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/bclconvert Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                          = null

    // Optional QC options
    fastq_screen_config            = null
    skip_fastqc                    = false
    skip_fastq_screen              = false

    // BCL Convert options
    bcl_sampleproject_subdirectories = false
    no_lane_splitting              = false

    // Output options
    outdir                         = './results'
    publish_dir_mode               = 'copy'

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                     = '128.GB'
    max_cpus                       = 16
    max_time                       = '240.h'

    // Boilerplate options
    help                           = false
    version                        = false
    validate_params                = true
    show_hidden_params             = false
    debug                          = false

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Container engine configuration
docker {
    enabled                        = true
    runOptions                     = '-u $(id -u):$(id -g)'
}

singularity {
    enabled                        = false
    autoMounts                     = true
}

// Execution profiles
profiles {
    debug {
        dumpHashes                 = true
        process.beforeScript       = 'echo $HOSTNAME'
        cleanup                    = false
        params.debug               = true
        nextflow.enable.configProcessNamesValidation = true
    }
    
    docker {
        docker.enabled             = true
        singularity.enabled        = false
        docker.runOptions          = '-u $(id -u):$(id -g)'
    }
    
    singularity {
        singularity.enabled        = true
        singularity.autoMounts     = true
        docker.enabled             = false
    }
    
    test {
        includeConfig 'conf/test.config'
    }
}

// Set default registry for Docker and Singularity independent of -profile
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

// Nextflow plugins
// Note: Uncomment and adjust version as needed for Wave support
// plugins {
//     id 'nf-wave@1.5.3'
// }

// Wave and Fusion configuration
wave {
    enabled = false
    // strategy = ['conda', 'container']
}

fusion {
    enabled = false
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

manifest {
    name            = 'nf-core/bclconvert'
    author          = 'Seqera AI'
    homePage        = 'https://github.com/T-Chinsky/bcl-convert-pipeline'
    description     = 'Demultiplex Illumina BCL files and perform comprehensive quality control'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.04.0'
    version         = '1.0.0'
    doi             = ''
}
