/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'BCLCONVERT' {
        ext.args = '--force'
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/fastq" },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.outdir}/${meta.id}/reports" },
                mode: params.publish_dir_mode,
                pattern: "Reports/*"
            ],
            [
                path: { "${params.outdir}/${meta.id}/logs" },
                mode: params.publish_dir_mode,
                pattern: "Logs/*"
            ]
        ]
    }

    withName: 'BCL2FASTQ' {
        ext.args = '--no-lane-splitting'
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/fastq" },
                mode: params.publish_dir_mode,
                pattern: "output/**.fastq.gz"
            ],
            [
                path: { "${params.outdir}/${meta.id}/reports" },
                mode: params.publish_dir_mode,
                pattern: "output/Reports/*"
            ],
            [
                path: { "${params.outdir}/${meta.id}/stats" },
                mode: params.publish_dir_mode,
                pattern: "output/Stats/*"
            ]
        ]
    }

    withName: 'FASTQC' {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,zip}"
        ]
    }

    withName: 'FASTQSCREEN_FASTQSCREEN' {
        ext.args = '--quiet --aligner bowtie2'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/fastq_screen" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,html,png}"
        ]
    }

    withName: 'MULTIQC' {
        ext.args = '--force'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/multiqc" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,data}"
        ]
    }

}
